# Unity temp files
# NaughtyWaterBuoyancy/
# NzBulletStudio/
# Carpeta de artefactos y caché de Unity
[Ll]ibrary/*
[Tt]emp/*
[Oo]bj/*
[Bb]uild/*
[Bb]uilds/*
[Ll]ogs/*

# Paquetes descargados
/[Pp]ackage[Cc]ache/
/[Ll]ibrary/PackageCache/

# Archivos de usuario
/*.csproj
/*.unityproj
/*.sln
/*.suo
/*.user
/*.userprefs
/*.pidb
/*.booproj
